.mainSingle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}

.sectionSingleOne {
    width: 45vw;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 25px;
    height: 50vh;
    padding: 5% 0;
    box-shadow: 10px 5px 5px #00000029;
}

.sectionSingleTwo {
    width: 45vw;
}
.singleProdImg {
    width: 25vw;
}

.ratingDiv {
    display: flex;
}

.rating {
  padding-left: 1%;
}

.quantityDiv {
    border: 1px gray solid;
    border-radius: 15px;
    width: 10vw;
    justify-content: space-evenly;
    display: flex;
    background-color: white;
}

.order {
    display: flex;
}
.minus,
.plus {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.quantity {
    border: none;
    text-align: center;
    appearance: textfield;
    width: 5vw;
    background: none;
}

.addToBag {
    border: 1px #ffb26d solid;
    background: #ffb26d;
    border-radius: 20px;
    width: 22.5vw;
    margin-left: 3%;
    cursor: pointer;
    height: 5vh;
}

.addToBag:hover {
    background: #ffa554;
}

@media screen and (max-width: 980px) {
    .mainSingle {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sectionSingleOne {
        width: 95vw;
        height: 20vh;
    }

    .sectionSingleTwo {
        width: 90vw;
    }
}