/* All Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a29c96;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}
.header-left,
.header-center, 
.header-right {
    display: flex;
    justify-content: center;
    width: 40vw;
    align-items: center;
}
    /*? All btn*/
    .btn-shop,
    .btn-user,
    .btn-cart,
    .btn-nav{
        width: 10vw;
        height: 5vh;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 1.05em;
    }
/* Header left */
.header-left {
    width: 19vw;
}

/* Header center */
.logo {
    width: 10vw;
}

/* Header right */
.header-right {
    margin-left: 11%
}

.btn-user,
.btn-cart {
    width: 5vw;
    font-size: 1.15em;
    border: 1px solid white;
    margin: 0 1%;
    border-radius: 15px;
}

.btn-user:hover,
.btn-car:hover {
    background-color: #ffa04e;
    transition: 0.2s;
}

.link-cart {
 margin: 0 10%;
}

.space {
    color: white;
}

.btn-shop:hover {
    font-size: 1.08em;
}

.register {
    margin-left: 2%;
}

.userProfil {
    border-radius: 50%;
    border: none;
    background-color: white;
    width: 2.5vw;
    height: 5vh;
    cursor: pointer;
}

.fa-user {
    font-size: 1.25vw;
}

@media screen and (max-width: 980px) {
    .logo {
        width: 25vw;
    }

    .header-center {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    .btn-user,
    .btn-cart {
        width: 15vw;
        font-size: 0.75em;
    }

    .userProfil {
        width: 10vw;
    }

    .fa-user {
        font-size: 3.5vw;
    }
}