/* All Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a29c96;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}
.header-left,
.header-center, 
.header-right {
    display: flex;
    justify-content: center;
    width: 30vw;
}
    /*? All btn*/
    .btn-shop,
    .btn-user,
    .btn-cart,
    .btn-currency {
        width: 10vw;
        height: 5vh;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 1.05em;
    }
/* Header left */

/* Header center */
.logo {
    width: 10vw;
}

/* Header right */
.btn-user,
.btn-cart {
    font-size: 1.15em;
}

.space {
    color: white;
}

.btn-shop:hover {
    font-size: 1.08em;
}