.allProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linkProduct {
    padding: 1%;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 18%;
    cursor: pointer;
    margin: 2.5% 1.5%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px #00000029;
    max-width: 18%;
}

.product:hover {
    box-shadow: 10px 5px 5px #ffb16d7c;
}

.productImg {
    width: 15vw;
    height: 40vh;
    margin-bottom: 20px;
}

.productText {
    margin: 10px 0;
    padding-bottom: 15px;
}

.productNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.productButton,
.AddToCart {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 1%;
    margin: 0 0.5%;
    border-radius: 15px;
    border: solid black 1px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.productButton:focus {
    background-color: #ffb26d;
}

.AddToCart {
    padding: 1% 4%;
}

.productButton:hover,
.AddToCart:hover {
    background-color: #ffb26d;
}

.titleShop {
    font-size: 48px;
    text-align: center;
}

.textShop {
    font-size: 16px;
    text-align: center;
    margin-bottom: 3%;
}

.fa-star,
.fa-star-half-alt {
    color: #ffa41c;
    border-color: green;
}

body {
 background-color: #fff5ec;
}